/* Hide logo and footer */

.logo,
footer {
    display: none !important;
}

#lnb {
    bottom: 0 !important;
}

#main {
    margin-bottom: 0 !important;
}

/* Refine signature attributes */
.signature-attributes {
    display: inline-block;
    margin-left: 5px;
    color: #aaa;
}
.signature-attributes:before {
    content: "<";
}
.signature-attributes:after {
    content: ">";
}
